<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Índice</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css.css' %}">
    {% bootstrap_css %}
</head>
<body  style="background-color:#114E60">

    <nav class="navbar navbar-light" style="background-color: #F4EEE8">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'indice' %}">
                <img src="{% static 'media/A.png' %}" alt="" width="21" height="24" class="d-inline-block align-text-top">
                  <b>
                  &nbsp;&nbsp;&nbsp;Socializei!
                  </b>
            </a>
            <h1 class="navbar-brand" style="color: #111111">
                <b>Igor Baiocco</b>
            </h1>
        </div>
    </nav>

    <div class="container">
        <div>
            <br><br>
            <h1 style="color: #F4EEE8">Eventos</h1>
                <a href="{% url 'evento' %}">
                    <button type="button" class="btn btn-info" style="margin-top: 0px; margin-left: 815px;">
                        Criar evento
                    </button>
                </a>
                <a href="{% url 'organizador' %}">
                    <button type="button" class="btn btn-info" style="margin-top: 0px; margin-left: 0px;">
                        Registrar organizador
                    </button>
                </a>
            <br>
            <br>
<!--            <table class="table table-dark table-striped">-->
                <table class="table table-light table-striped">
                    <thead>
                    <tr style="color:#0dcaf0">
                        <th scope="col" style="color:#312e35"><b>ID</b></th>
                        <th scope="col" style="color:#312e35"><b>Título</b></th>
                        <th scope="col" style="color:#312e35"><b>Início</b></th>
                        <th scope="col" style="color:#312e35"><b>Fim</b></th>
                        <th scope="col" style="color:#312e35"><b>Organizadores</b></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody class="table table-striped">
                            {% for evento in eventos %}
                            <tr style="color:gainsboro">
                                <th style="color: #114E60" scope="row">{{ evento.id }}</th>
                                <th style="color: #114E60">{{ evento }}</th>
                                <th style="color: #114E60">{{ evento.inicio }}</th>
                                <th style="color: #114E60">{{ evento.fim }}</th>
                                <th style="color: #114E60">
                                    {% for organizador in organizadores %}
                                        {% if organizador.evento.id == evento.id %}
                                           <p>{{organizador}}</p>
                                        {% endif %}
                                    {% endfor %}
                                </th>
                                <th>
                                    <a href="{% url 'evento_detail' evento.id %}">
                                        <button type="button" class="btn btn-primary">&nbsp;Detalhes&nbsp;</button>
                                    </a>
                                </th>
                                <th><a href="{% url 'deletar_evento' evento.id %}">
                                <button type="button" class="btn btn-danger">&nbsp;Deletar&nbsp;</button>
                                </a></th>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
        </div>
        {% bootstrap_messages %}
    </div>
    <br><br><br><br>

{% bootstrap_javascript jquery='full'%}
</body>
</html>